{% set filter_id = 'kotlyars-vendor-filter-' ~ current_path|replace({'_': '-'}) %}
{% set section_id = filter_id ~ '-sections' %}
<div class="desktop-filter-wrapper kotlyars-vendor-filter-wrapper">
  <div id="{{ filter_id }}" class="module module-filter module-kotlyars-vendor-filter">
    <div class="module-body">
      <div class="kotlyars-vendor-filter__leaf">
        <div class="kotlyars-vendor-filter__leaf-head">
          <span class="kotlyars-vendor-filter__leaf-label">{{ text_current_leaf }}</span>
          <a href="{{ reset }}" class="reset-filter btn">{{ button_reset }}</a>
        </div>
        <span class="kotlyars-vendor-filter__leaf-value">{{ leaf_label }}</span>
      </div>

      <form action="{{ form_action }}" method="get" class="kotlyars-vendor-filter__form">
        <input type="hidden" name="route" value="{{ form_route }}"/>
        <input type="hidden" name="path" value="{{ current_path }}"/>
        {% if current_sort %}
        <input type="hidden" name="sort" value="{{ current_sort }}"/>
        {% endif %}
        {% if current_order %}
        <input type="hidden" name="order" value="{{ current_order }}"/>
        {% endif %}
        {% if current_limit %}
        <input type="hidden" name="limit" value="{{ current_limit }}"/>
        {% endif %}

        <div class="panel-group kotlyars-vendor-filter__panels" id="{{ section_id }}">
          {% if attribute_groups %}
          <div class="panel panel-default kotlyars-vendor-filter__panel">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#{{ filter_id }}-attributes" class="accordion-toggle" data-toggle="collapse" data-parent="#{{ section_id }}" aria-expanded="true">
                  {{ text_filterable_attributes }}
                  <em class="fa fa-caret-down"></em>
                </a>
              </div>
            </div>
            <div id="{{ filter_id }}-attributes" class="panel-collapse collapse in">
              <div class="panel-body">
                {% for group in attribute_groups %}
                <div class="kotlyars-vendor-filter__section">
                  <div class="kotlyars-vendor-filter__label">{{ group.label }}</div>
                  <div class="filter-checkbox kotlyars-vendor-filter__options">
                    {% for option in group.options %}
                    <label class="{% if option.disabled and not option.selected %}is-disabled{% endif %}">
                      <span class="kotlyars-vendor-filter__option-main">
                        <input type="checkbox" name="{{ group.name }}" value="{{ option.key }}" {% if option.selected %}checked="checked"{% endif %} {% if option.disabled %}disabled="disabled"{% endif %}/>
                        <span class="links-text">{{ option.label }}</span>
                      </span>
                      <span class="filter-item-bg"></span>
                    </label>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}

                {% set vendor_range_count = 0 %}
                {% for range in range_groups %}
                  {% if range.code != 'price' %}
                    {% set vendor_range_count = vendor_range_count + 1 %}
                  {% endif %}
                {% endfor %}

                {% if vendor_range_count %}
                {% for range in range_groups %}
                {% if range.code != 'price' %}
                <div class="kotlyars-vendor-filter__section kotlyars-vendor-filter__section--range">
                  <div class="kotlyars-vendor-filter__label">{{ range.label }}</div>
                  <div class="kotlyars-vendor-filter__range-inputs">
                    <label class="kotlyars-vendor-filter__range-field">
                      <span class="kotlyars-vendor-filter__range-caption">Min</span>
                      <input type="text" name="{{ range.input_min }}" value="{{ range.selected_min }}" placeholder="{{ range.min }}" class="form-control"/>
                    </label>
                    <label class="kotlyars-vendor-filter__range-field">
                      <span class="kotlyars-vendor-filter__range-caption">Max</span>
                      <input type="text" name="{{ range.input_max }}" value="{{ range.selected_max }}" placeholder="{{ range.max }}" class="form-control"/>
                    </label>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="kotlyars-vendor-filter__actions">
          <button type="submit" class="btn btn-primary">{{ button_apply }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
(function() {
	var root = document.getElementById('{{ filter_id }}');
	var form = root ? root.querySelector('form') : null;

	if (!form) {
		return;
	}

	form.addEventListener('submit', function() {
		var separator = ',';
		var groups = {};
		var checkboxes = form.querySelectorAll('input[type="checkbox"][name^="kvs_"]');

		Array.prototype.forEach.call(checkboxes, function(checkbox) {
			if (!groups[checkbox.name]) {
				groups[checkbox.name] = [];
			}

			if (checkbox.checked) {
				groups[checkbox.name].push(checkbox.value);
			}

			checkbox.disabled = true;
		});

		Object.keys(groups).forEach(function(name) {
			if (!groups[name].length) {
				return;
			}

			var hidden = document.createElement('input');
			hidden.type = 'hidden';
			hidden.name = name;
			hidden.value = groups[name].join(separator);
			form.appendChild(hidden);
		});
	});
})();
//--></script>
